<!doctype>
<div style="display:none">
    <div id="dailyNameNullTip" >
        <div class="dialogModal_header">信息提示</div>
		<div class="dialogModal_content">
			对不起，名称不能为空!
		</div>
		<div class="dialogModal_footer">
			<button type="button" data-dialogModalBut="ok">确定</button>
		</div>
    </div>
</div>