<!DOCTYPE html>
<html lang="en" class="no-js">
    
    <head>
        <title>
            <%=title%>
        </title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%include common-header%>
    </head>
        
    <body>
        <p class="bg-info" style="padding:10px;"><%=holder.name%></p>
        <button type="button" class="btn btn-primary">添加周报</button>
    </body>
</html>