<!doctype>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            桌面
        </h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <a href="#" class="list-group-item">
                报夹
                <li class="glyphicon glyphicon-chevron-down" style="float: right;"  data-toggle="collapse" data-parent="#accordion" href="#collapseHolder">
                </li>
            </a>
            <% include left-holder-list %>
            <a href="#" class="list-group-item">
                标签
                <li class="glyphicon glyphicon-chevron-down" style="float: right;">
                </li>
            </a>
        </div>
    </div>
</div>