<!doctype>
<div id="collapseHolder" class="panel-collapse collapse">
  <div class="panel-body">
  	<ul class="list-group" id="holderGroup">
  		<li class="list-group-item">
		    	新建<span class="glyphicon glyphicon-plus" style="float: right;" id="newHolderBtn" data-toggle="modal" data-target="#myModal-holder-new"></span>
	  	</li>
	</ul>
  </div>
</div>
<style type="text/css">
	.badge a{
		color: #FFF;
	}
</style>
<script type="text/javascript">
	var holderGroups = (function(){
		var holderGroup = document.getElementById('holderGroup');

		function add(obj){
			var item = createItem(obj);
			holderGroup.appendChild(item);
		};

		function createItem(obj)
		{
			var html_ = "<li class='list-group-item'><span class='badge'><a href='javascript:tabPanelGroup.createNewPanel({type:\"holder\",id:\""+obj.id+"\",text:\""+obj.text+"\"})'>0</a></span>"+obj.text+"</li>";
			var temp = document.createElement("div");
			temp.innerHTML = html_;
			return temp.children[0];
		};

		return {
			add: add
		};
	}());

	(function(){
		function doList(){
			$.ajax({
	          url: "/holder-list",
	          async: true,
	          cache: false,
	          method: "get",
	          contentType: "application/x-www-form-urlencoded; charset=UTF-8",
	          dataType: "json",
	          success: function(data, status) {
	            if (status === "success") {
	              if (data) {
	                if (data.status === "success") {
	                	var result = data.data;
	                	for(var i in result)
	                	{
	                		holderGroups.add({
	                			text : result[i].name,
	                			id : result[i]._id,
	                			type : "holder"
	                		});
	                	}
	                } else if (data.status === "fail") {
	                }
	              }
	            } else {
	            }
	          },
	          error: function(data, status) {},
	          complete: function(data, status) {}
	        });
		};

		doList();
	}());
</script>