<!doctype>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            常用
        </h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <a href="#" class="list-group-item">
                模板
                <li class="glyphicon glyphicon-chevron-down" style="float: right;">
                </li>
            </a>
        </div>
    </div>
</div>