<!doctype>
<div id="collapseDailyCata" class="panel-collapse collapse">
  <div class="panel-body">
  	<ul class="list-group" id="dailyCataGroup">
  		<li class="list-group-item">
		    	新建日志目录<span class="glyphicon glyphicon-plus" style="float: right;" id="newDailyCataBtn" data-toggle="modal" data-target="#myModal-dailyCata-new"></span>
	  	</li>
	</ul>
  </div>
</div>
<style type="text/css">
	.badge a{
		color: #FFF;
	}
</style>
<script type="text/javascript">
	var dailyCataGroups = (function(){
		var dailyCataGroup = document.getElementById('dailyCataGroup');

		function add(obj){
			var item = createItem(obj);
			dailyCataGroup.appendChild(item);
		};

		function completeTabPanel(panel , obj){
			var div = document.createElement("div");
			div.className = "embed-responsive embed-responsive-16by9";
			var iframe = document.createElement("iframe");
			iframe.className = "embed-responsive-item";
			iframe.src = "/dailyCata-detail?id=" + obj.id + "&t=" + Math.random();
			div.appendChild(iframe);
			panel.appendChild(div);
		};

		function completeTabPanelHelper(obj){
			return function(panel){
				completeTabPanel(panel , obj);
			};
		};

		function createItem(obj)
		{
			var li = document.createElement("li");
			li.className = "list-group-item";
			li.innerHTML = obj.text;

			var span = document.createElement("span");
			span.className = "badge";

			var a = document.createElement("a");
			a.innerHTML = "0";
			a.style.cursor = "pointer";
			utils.AttachEvent(a , "click" , function(){tabPanelGroup.createNewPanel(obj , completeTabPanelHelper(obj))} , false);

			li.appendChild(span);
			span.appendChild(a);

			return li;
		};

		return {
			add: add
		};
	}());

	(function(){
		function doList(){
			$.ajax({
	          url: "/dailyCata-list",
	          async: true,
	          cache: false,
	          method: "get",
	          contentType: "application/x-www-form-urlencoded; charset=UTF-8",
	          dataType: "json",
	          success: function(data, status) {
	            if (status === "success") {
	              if (data) {
	                if (data.status === "success") {
	                	var result = data.data;
	                	for(var i in result)
	                	{
	                		dailyCataGroups.add({
	                			text : result[i].name,
	                			id : result[i]._id,
	                			type : "dailyCata"
	                		});
	                	}
	                } else if (data.status === "fail") {
	                }
	              }
	            } else {
	            }
	          },
	          error: function(data, status) {},
	          complete: function(data, status) {}
	        });
		};

		doList();
	}());
</script>