<!doctype>
<div style="display:none">
    <div id="tipMaxTabsTool" >
        <div class="dialogModal_header">信息提示</div>
		<div class="dialogModal_content">
		对不起，标签页数量已经达到上限，为了您更好的使用本系统，请关闭其他的标签页!
		</div>
		<div class="dialogModal_footer">
			<button type="button" data-dialogModalBut="ok">确定</button>
		</div>
    </div>
</div>