.arrow-l{
	background-image: url('../images/arrow-l.png');
}
.arrow-l-hover{
	background-image: url('../images/arrow-l-hover.png');
}
.arrow-r{
	background-image: url('../images/arrow-r.png');
}
.arrow-r-hover{
	background-image: url('../images/arrow-r-hover.png');
}
.arrow{
	background-size: 100% 100%;
    height:6px !important;
	height:9px;
	width: 14px;
	font-size: 1px;
	cursor: pointer;
	vertical-align: middle;
	float:left;
	margin-top: 4px;
	/**IE下无法使div垂直对齐**/
	_margin-top:4px;
}
td span{
	vertical-align: middle;
}