/* qrcpulldown控件的相关样式*/
 
.QrPulldown {
	padding:0px;
}

.QrPulldownButton {
	z-index:0;
	margin-left:2px;
	float:left;
}

.QrPulldownInput {
	padding-left:2px;
	height:22px;
	border:#7F9DB9 double 1px;
	margin-top:0px;
	text-align:left;
	vertical-align:middle;
	line-height:22px;
	float:left;
}


.QrPulldownFCMenu {
	position:absolute;
	z-index:4;
	
	border-color:gray;
	border-style:solid;
	border-top-width:1px;
	border-left-width:1px;
	border-bottom-width:1px;
	border-right-width:1px;
	width:400px;
	
	background-color:#EEE;
	background-image: url(../images/pulldownfc-back.gif);
}


.QrPulldownMenu {
	position:absolute;
	z-index:4;
	
	border-color:gray;
	border-style:solid;
	border-top-width:1px;
	border-left-width:1px;
	border-bottom-width:1px;
	border-right-width:1px;
	
	width:200px;
	
	background-color:#EEE;
	background-image: url(../images/pulldown-back.gif);
}


.QrPulldownItemHover {
	border-color:#36C;
	border-style:solid;
	border-width:1px;
	
	padding:2px;
	background-color:#CCF;
}

.QrPulldownItem {
	padding:3px;
	width:95%;
}