.arrow-left{
	background-image: url('../images/arrow-left.png');
	width: 9px;
	height:16px;
}
.arrow-up{
	background-image: url('../images/arrow-up.png');
	width:16px;
	height: 9px;
}
.arrow-right{
	background-image: url('../images/arrow-right.png');
	width: 9px;
	height:16px;
}
.arrow-down{
	background-image: url('../images/arrow-down.png');
	width:16px;
	height: 9px;
}
.tip-arrow{
	background-repeat: no-repeat;
	position: absolute;
	z-index: 300;
	font-size: 1px;
}

.tip-outer{
	position: absolute;
	vertical-align: middle;
	z-index: 200;
	font-size: 12px;
}

.tip-text{
	position: absolute;
	left:0;
	top:0;
	vertical-align: middle;
    border:2px solid #d3d0d9;
    z-index: 250;
    background-color: #FFF;
    display:inline-block;
}

.tip-inner{
	position: relative;
	margin-top: 0;
	margin-left:0;
}

.tip-title{
	height:20px;
	line-height: 20px;
	margin: 0;
	background-color: #9B30FF;
	text-align: center;
    _width:expression(this.offsetWidth<140 ? 140 + 'px':this.nextSibling.offsetWidth + 'px');
}
.tip-content{
	height:40px;
	line-height: 40px;
	background-color: #FFF;
	margin: 0;
	min-width: 140px;
	text-align: center;
	width: auto;
    display:inline-block;
    _width:expression(this.offsetWidth<140 ? 140 + 'px':this.offsetWidth + 'px');
    padding-left: 5px;
    padding-right: 5px;
}