/*setcss页面的样式*/
body,h2
{
 	background-color:#E4E4EC;
}
body
{
	overflow:hidden;
}
*
{
	margin:0px;
	padding:0px;
}
td,h5
{
	font:menu;
}
li
{
	list-style:none;
	display:none;
}
#container
{
	display:none;
	margin-top: 10px;
	height: 250px;
	z-index:0;
}
#cate
{
	float:left;
	width:100px;
	height:390px;
	margin-left:4px;
}
#list
{
    float:right;
	width:460px;
	height:250px;
	z-index:1;
	margin-right:25px !important;
	margin-right:10px;
}
#selcate
{
	margin-top:5px;
	text-align:left;
	float:left;
	overflow:hidden;
	width:105px;
	font:menu;
}
ul
{
     position:absolute;
     z-index:3;
}
#bottom
{
    margin-top:10px;
	margin-bottom:auto;
}

.target
{
    margin:30px;
}
    
#targetBg
{
    padding:20px;
	width:445px;
	height:95px;
	background-color:#fff;
	padding:1px;
	background-image:url(../images/grid.gif);
	overflow:auto;
}
fieldset
{
	border:#b9b7af 1px solid;
}
legend
{
	color:#333333;
	font:menu;
}
.QrCSSDesignerPadLeft
{
	width: 150px;
}
.QrCSSDesignerPad
{
	margin-top: 40px; 
}
#bj td
{
   height:20px;
}
#confirm
{
	margin-left:130px;
}
.btn
{
	margin-left:30px;
}
fieldset table
{
	 margin:1px;
}
#foot
{
	 position:relative;
	 margin-top:230px;
	 margin-bottom:auto;
	 z-index:2;
}
#bottom input
{
	font:menu;
}
#loading
{
	padding-top:150px;
	padding-left:150px;
}



	
